:root {
    --white-first-color: #FFFFFF;
    --white-second-color: #D9D9D9;

    --background-image-gradient: linear-gradient(to bottom, rgba(0, 255, 0, 0), rgba(0, 0, 0, 0.75));
    --background-image-darkmode: rgba(0, 0, 0, 0.5);

    --scrolbar-track-color: #3F3F3F;
    --scrolbar-track-background: #121212;
}