body {
    height: 200vh;
    background-color: var(--white-first-color);
    background-size: 100vw;
    
    color: var(--white-first-color);

    box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.75rem;              
}

body::-webkit-scrollbar-track {
  background: var(--scrolbar-track-background);       
  height: 5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrolbar-track-color);
  border-radius: 5rem;      
}

.first-page {
    background-color:  var(--background-image-darkmode);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center;

    
    height: 100vh;

    display: grid;
    align-items: end;

    transition: 0.5s ease-in; 
 }

 .first-page.ativo{
   background-size:  200%;
   transition: 10s;
 }

 .linear-gradient {
   position: absolute;
   inset: 0 0 0 0;
   width: 100%;
   height: 100vh;
   background: var(--background-image-gradient);
   z-index: 1;
 }

 .main-title {
    justify-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
 }

.initial-phrase {
    font-size: 3em;
    font-weight: 500;
}

 .big-clock {
    margin-top: -0.5rem;

    font-size: 14vw;
    font-weight: 800;

    cursor: pointer;
    user-select: none;
 }

 .sub-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.1em;

    padding: 0 1.5rem 0.75rem 1.5rem;

    z-index: 2;
 }

 .locate-infos {
   display: flex;
   flex-direction: column;
   row-gap: 0.25rem;
 }

.division {
   background-color: var(--white-second-color);
   height: 5px;
   height: 100;
 }

 .second-page {
   background-size: 100%;
   background-position: center;

   max-width: 100vw;
   height: 100vh;

   padding: 1.5rem;

   box-sizing: border-box;
 }

 .blur {
  background-color: var(--background-image-darkmode);
   backdrop-filter: blur(4px);

   width: 100%;
   height: 100%;

   position: absolute;
   z-index: 1;
 }

 .top-container {
  position: relative;
  z-index: 2;

  background-color: var(--background-image-darkmode);
  border-radius: 1rem;

  padding: 1rem;
 }